<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Confirmação de Prensença - Érica e Diego</title>

    <link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet">

    <!-- Arquivo CSS principal -->
    <link rel="stylesheet" href="style.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<!-- Declare uma nova aplicação AngularJS e associe o controlador -->
<body ng-app="rspv" ng-controller="OrderFormController">
<div id="convidados" >
    <form>

        <h1>Convidados</h1>

        <div class="formulario row">
            <div class="col-md-9">
                 <input class="form-control" type="text" placeholder="DIGITE O NOME COMO NO CONVITE" ng-model="filtro"/>
            </div>

            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="processaConvidados(filtro)" ng-disabled="!filtro.length"> Confirmar! </button>
            </div>

        </div>

        <ul>
            <!-- Percorre o array 'services', atribuindo um manipulador click, e defini ou remove a classe css "active" se necessário -->
            <!--<li ng-repeat="acc in Convidado" ng-click=" toggleActive(acc)" ng-class="{ active:acc.active }"> {{acc.Tag}} </li>-->
            <li ng-repeat="service in convidadosProcessados" ng-click="toggleActive(service)" ng-class="{ active:service.active }">
                <!-- Note o uso do 'current filter', que vai formatar o preço -->
                {{ service.nome }}
            </li>
        </ul>

        <div class="total">
            <!-- Calcule o preço total de todas as escolhas de serviços. Formate isso como moeda -->
            Total: <span>{{ total() }}</span>
        </div>

        <div class="total">
            <!-- Calcule o preço total de todas as escolhas de serviços. Formate isso como moeda -->
            <button class="btn btn-success pull-right" ng-click="save()" ng-disabled="total() == 0"> Salvar! </button>
        </div>

    </form>
</div>



<!-- Include AngularJS from Google's CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</body>
</html>